@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i&subset=cyrillic,cyrillic-ext,latin-ext');
html {
    font-size: 16px;
}

@media (min-width:700px) {
    .w-60 {
        width: 60% !important;
    }
    #exampleModal {
        margin-right: 0px;
    }
    .modal-subscrible {
        padding: inherit;
        margin: inherit;
        font-size: inherit;
    }
    .button-subm {
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width:992px) {
    .navigs {
        font-size: 2em;
    }
    .nav-item {
        border-top: 1px solid rgb(177, 177, 177);
        border-bottom: 1px solid rgb(177, 177, 177);
        padding: 10px 0 10px 0;
    }
    .nav-item:first-child {
        border-top: none;
    }
    .nav-item:last-child {
        border-bottom: none;
    }
    .logo {
        background: url(//online.business.ru/wp-content/themes/bus/img/logo.png) !important;
        width: 140px !important;
        height: 35px !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain;
    }
}

body {
    background-color: #fff;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

main {
    padding-top: 30px;
}

.bg-white {
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto";
    font-weight: 300;
    color: #333;
    padding-bottom: 2rem;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

header {
    padding-top: 5px;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.descript {
    padding: 0 0 0 0;
}

hr {
    margin-top: 5rem;
    margin-bottom: 4rem;
    border: 1px solid #ff6600 !important;
}

nav {
    margin-top: 0;
    margin-bottom: 0;
}

.logo {
    width: 300px;
    height: 40px;
    background: url(../images/check-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#block_1 {
    text-align: center;
    text-transform: none;
    color: #222222 !important;
}

#block_1>p {
    letter-spacing: normal;
}

.logo-header {
    max-width: 305px;
}

.topTel {
    color: black;
}

.menu_arrow {
    max-width: 32px;
}

.dropdown-menu {
    width: 280px;
    top: 40px;
    background-color: white;
    padding: 5px 15px !important;
    box-shadow: #9b9b9b 0 2px 4px 0;
    z-index: 100;
}

.dropdown-menu>a {
    color: #fb741b;
}

.dropdown-menu>a>span {
    color: gray !important;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 15px !important;
}

.main_land {
    width: 100%;
    max-width: 872px;
}

.link_table {
    margin: 0 auto;
}

.link_table td {
    padding: 8px 0 8px 5px;
}

.main_list {
    text-align: left;
    list-style-image: url(../images/pin.png);
}

.second_list {
    text-align: left;
    list-style-image: url(../images/pin.png);
}

.main_list>li {
    padding: 1.2rem 0 0 0;
    color: #222222;
    width: 100%;
    font-size: 1.4rem;
}

.second_list>li {
    padding: 22px 0 0 0;
    color: #222222;
    width: 100%;
}

a {
    color: #fb741b !important;
}

.footer-content {
    background-color: #676767;
    width: 100%;
    padding: 30px 0 30px 0;
}

.footer-logo {
    max-width: 300px !important;
}

.img-responsive {
    max-width: 100%;
    width: 100%;
    padding: 10px 0;
}

.button-invoice {
    color: #ffffff;
    white-space: normal;
    padding: 1rem 2rem;
    background: #fb741b;
}

.button-subm {
    color: #ffffff;
    white-space: normal;
    padding: 1rem 2rem;
    background: #fb741b;
    font-size: 2rem;
}

.v-divider {
    background-color: #e7e7e7;
}

.block-content {
    width: 100%;
    margin: 0 auto;
}

.quote {
    border-left: 1px solid #676767;
    background-color: #f7f7f7;
    padding: 10px 15px;
}

.sublayer {
    background-color: #e7e7e7;
}

.row-flex,
.row-flex>div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
}

.quotes {
    font-size: 1.5em;
    line-height: 0.25;
}

.kkt>div>div {
    text-align: center;
}

.kkt>div>div>img {
    margin: 10px auto;
    max-height: 100px;
    max-width: 180px;
}

#heading {
    white-space: normal;
    text-decoration: dotted underline;
}

.panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#spoiler-body {
    padding: 3rem;
    border: 1px solid #dbdbdb;
}

.pp>div {
    margin: 10px auto;
    max-height: 85%;
    max-width: 60%;
    text-align: center;
    vertical-align: center;
}

.pp>div>img {
    margin: 5px auto;
    max-height: 120px;
    max-width: 75%;
}

.center {
    text-align: center;
}

.nav-link {
    color: black !important;
    padding: 0 15px !important;
    ;
    margin-right: 0;
    letter-spacing: -0.03em;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
    margin-bottom: 0px;
}

.nav-link:hover {
    color: #fb741b !important;
}

.footer-text {
    color: white;
}

.list-icon {
    list-style: none;
    padding: 0;
}

.list-icon>li>a {
    color: white !important;
    font-size: 14px !important;
}

.socials>a {
    width: 38px;
    height: 38px;
    color: white !important;
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    background-color: #519bf4;
    font-size: 18px !important;
    display: inline-block;
    margin: 10px 3px 15px 3px;
}

.instagram {
    background-color: #34639c !important;
}

.myspace {
    background-color: #4375b2 !important;
}

.scrollTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 40px;
    width: 40px;
    background-color: #fb741b;
    display: none;
    color: white;
    font-size: 35px;
    line-height: 0.1;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.scrollTop:hover {
    padding-top: 2px;
}

.input-group-addon {
    width: 40px;
}

.close {
    position: absolute;
    font-size: 2rem !important;
    right: 9px;
    top: 2px;
    font-weight: bold !important;
}

.modal-header-img {
    width: 50%;
}

.modal-submit-btn {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    background-color: #fb741b;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.modal-submit-place {
    width: 100%;
    padding: 10px 3px 10px 5px;
}

.modal-dialog {
    max-width: 850px !important;
}

.input-group {
    margin-top: 10px !important;
}

.modal-subscrible {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px !important;
}

#success_send,
#success_send_last {
    color: #31ff00;
    font-weight: bold;
}

.client {
    text-align: center;
    vertical-align: middle;
}

.client>img {
    vertical-align: middle;
    margin: 0 auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.nominant {
    font-size: 23px;
}

.width-55 {
    width: 55% !important;
}

.headling-calling {}

.no-margin {
    margin: 0 !important;
}

.text-right {
    text-align: right !important;
}

.blue {
    color: rgb(0, 0, 255);
}

.modal-subscribles {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: darkgrey;
}

.modal-subscribles>a {
    color: darkgrey!important;
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: center;
}

.padding-22 {
    padding: 0 0 0 22%;
}

.modal-img {
    width: 50%;
}

.modal-hr {
    border: none !important;
    border-top: 1px solid #dfdfdf !important;
}

.modal-input {
    height: 48px !important;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.36) !important;
    border-radius: 3px !important;
}

.modal-group {
    margin: 0 auto;
}

.w-60 {
    width: 100%;
}

.bl {
    padding-bottom: 1rem !important;
    padding-top: 1.7rem !important;
}

#exampleModal {}